:root {
    /* Bootstrap $gray-800 */
    --mi-gris-oscuro: #343a40;
    /* Bootstrap $blue-200 */
    --mi-azul-claro: #9ec5fe;
    /* Bootstrap $blue */
    --mi-azul: #0d6efd;
    --mi-alto-header: 50px;
    --mi-alto-tabulador: 50px;
    --mi-alto-barra: 193px;
    --mi-ancho-barra: 250px;
}

.mi-vh-header {
    height: auto;
}

.mi-vh-resta-h {
    height: auto;
}

.mi-vh-tabulador {
    height: auto;
}

.mi-vh-resta-ht {
    height: auto;
}

.mi-nav-color {
    --bs-nav-link-color: var(--mi-gris-oscuro);
    --bs-nav-link-hover-color: var(--mi-azul-claro);
}

.mi-nav-activo {
    --bs-nav-link-color: var(--mi-azul);
    --bs-nav-link-hover-color: var(--mi-azul);
}

.mi-tab-activo {
    color: var(--mi-azul) !important;
}

.mi-px-075 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

/* Animación fluida para el alto del sidebar */
.sidebar-transition {
    height: var(--mi-alto-barra);
    transition: margin-top 0.3s ease-in-out;
}

/* Clase que aplicará JavaScript para ocultar la barra */
.sidebar-hidden {
    margin-top: calc(-1 * var(--mi-alto-barra)) !important;
}

/* Bootstrap breakpoint md (768px) */
@media (min-width: 768px) {
    .mi-vh-header {
        height: var(--mi-alto-header);
    }

    .mi-vh-resta-h {
        height: calc(100vh - var(--mi-alto-header));
    }

    .mi-vh-tabulador {
        height: var(--mi-alto-tabulador);
    }

    .mi-vh-resta-ht {
        height: calc(100vh - var(--mi-alto-header) - var(--mi-alto-tabulador));
    }

    /* Animación fluida para el ancho del sidebar */
    .sidebar-transition {
        /* La propiedad margin-top debe volver a cero */
        margin-top: 0px !important;
        width: var(--mi-ancho-barra);
        transition: margin-left 0.3s ease-in-out;
    }

    /* Clase que aplicará JavaScript para ocultar la barra */
    .sidebar-hidden {
        margin-left: calc(-1 * var(--mi-ancho-barra)) !important;
    }
}
